// 主题色
$themeMainColor: #0D8080;
$themeSubColor: #F45C48;
$themeMainHoverColor: #3d9999;

// 状态色
$statusRed: #F45C48;
$statusYellow: #F4AB48;
$statusGreen: #0D8080;
$statusBlue: #0E568B;
$statusBlack: #2E4646;

// 文字、背景、线条颜色
$mainContentColor: #333;
$subContentColor: #666;
$tipsColor: #999;
$fontWhite: #fff;
$disabledColor: #ccc;
$borderColor: #E6E6E6;
$bgColor: #F7F7F7;
$bgWhite: #fff;
$bgGray: #f2f2f2;
$bgTextarea: #F7F8F7;
$fontColorWeight:#343434;
$fontColorRemove: #999A99;
$fontColorIcon: #B3B3B3;
$defaultColorDanger: #F66464;
